/* body{
    height:100vh;
    /* display: flex; */
    /*flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
} */
/* 
.sports-log-container {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.sports-log {
    width: 400px;
    height: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-style: groove;
    border-radius: 20px;
    margin: 10px; */
}

/* h1 {
    width: 100%;
    text-align: center;
}

.log-info {
    width: 100%;
    text-align: center;
    margin: 5px;
}

.hidden {
    display: none;
} */